<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_barber_shop"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_barber_shop_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_movil"
        tools:targetApi="31">

        <activity
            android:name=".MenuPrincipal"
            android:exported="true"
            android:label="Menú Principal"
            android:theme="@style/Theme.App_movil.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CiudadActivity"
            android:exported="true"
            android:label="Ciudades" />

        <activity
            android:name=".SucursalActivity"
            android:exported="true"
            android:label="Sucursales" />

        <activity
            android:name=".CargoActivity"
            android:exported="true"
            android:label="Cargos" />

        <activity
            android:name=".ClienteActivity"
            android:exported="true"
            android:label="Clientes" />

        <activity
            android:name=".UsuarioActivity"
            android:exported="true"
            android:label="Usuarios" />

        <activity
            android:name=".TipoServicioActivity"
            android:exported="true"
            android:label="Tipos de Servicio" />

        <activity
            android:name=".FuncionarioActivity"
            android:exported="true"
            android:label="Funcionarios" />

        <activity
            android:name=".FormaPagosActivity"
            android:exported="true"
            android:label="Formas de Pago" />

        <activity
            android:name=".PagosActivity"
            android:exported="true"
            android:label="Pagos" />

        <activity
            android:name=".AgendamientoActivity"
            android:exported="true"
            android:label="Agendamiento" />

        <activity
            android:name=".ServiciosActivity"
            android:exported="true"
            android:label="Servicios" />

        <activity
            android:name=".FinServicioActivity"
            android:exported="true"
            android:label="Finalizar Servicio" />

    </application>
</manifest>
